@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

h4 {
    font-size: 1.1rem;
    font-weight: 400;
}

h5 {
    font-size: 1rem;
    font-weight: 300;

}

h6 {
    color: #DBDBDB;
}

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;

}

button:hover {
    background-color: gray;
}

hr {
    width: 30px;
    height: 2px;
    background-color: coral;
}

.star {
    padding: 10px 0;
}

.star i {
    font-size: 0.8rem;
    color: rgb(247, 192, 55);
}

.navbar {
    font-size: 16px;

}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
    color: coral;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

#bar {
    font-size: 1.4rem;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar.active {
    color: white;
}

@media only screen and (max-width:991px) {

    body>nav>div>button:hover,
    body>nav>div>button:focus {
        background-color: coral;
    }

    /* body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar{
        background-color:white;
    } */
    #navbarSupportedContent>ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent>ul>li:nth-child(n)>a {
        padding: 10px 0;
    }

}

/* mobile nav */
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

#home {
    background-image: url("img/back.jpg");
    width: 100%;
    height: 100vh;
    background-position: top 60px center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#home span {
    color: coral;
}

#home h1 {
    color: white;
}

#home p {
    color: white;
}

#new .one img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

#new .one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 3;
    transition: 0.3s ease;

}

#new .one:hover .details {
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}

#new .one .details button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translate(70px);
    transition: 0.3s ease;

}

#new .one .details button:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: right;
    margin-right: 10px;
}

/* product */
.product {
    cursor: pointer;
    margin-bottom: 2rem;

}

.product img {
    transition: 0.3s all;
}

.product:hover img {
    opacity: 0.5;
}

.product .buy-btn {
    background: coral;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform:translateY(0);
    opacity:1;
}

#banner {
    background-image: url("img/banner/2.jpg");
    width: 100%;
    height: 80vh;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h4{
    color:#DBDBDB;
}
#banner h1{
    color: #fff;;
}
#banner button{
    background-color:coral;
}

#clothes img {
    width: 100%;
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}